*{margin:0;
padding:0;}

.container{
width: 1140px;
margin: 0 auto;
}

.all_button{
    border: none;
    border-radius: 10px;
background: #4E47FF;
    padding: 12px 36px;
    color: #FFFFFF;
}

header{
background: url("Assets/Hero-bg.png") no-repeat ;
height: 698px;
  background-size: 100% 100%;
}

main{
    background-color: #F5F8FF;
    margin-bottom: 200px;
}

nav{
align-items: center;
margin: 0 auto;
padding-bottom: 80px;

}

.navbar{
display: flex;
padding: 50px 0px;
justify-content: space-between;
}
.logo h1{
font-family: Inter;
color:#4E47FF;
font-size: 34px;
font-style: normal;
font-weight: 900;
}



.banner{
color: #252432;
text-align: center;
font-family: Raleway;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 905px;
margin: 0 auto;
}
.banner h1{
    padding:60px 0 40px 0;
}




.action{
    margin: 0 auto;
}
.action_container{
    display: flex;
justify-content: space-between;
align-items: center;
padding-top: 100px;
}
.action_des{
    width: 45%;
}
.action_des h1{
color: #252432;
font-family: Raleway;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.action_des p{
color: rgba(37, 36, 50, 0.50);
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 23px 0 23px 0;
}

.action_img img{
    border-radius: 48px;
}
.productive_user{
    border-radius: 24px;
background: rgba(78, 71, 255, 0.10);
margin: 100px  auto;
text-align: center;
}
.user_container{
    padding: 50px 80px;
}
.user_head{
color: #252432;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.user_des{
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 40px;}

.users h1{
color:#4E47FF;
font-family: Inter;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.users p{
 color: rgba(0, 0, 0, 0.50);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.review{
    display: flex;
    gap: 20px;
    font-family: Inter;

}

.review_container{
   width: 310px;
   padding: 24px;
   border-radius: 14px;
border: 2px solid #F2EDED;
background: rgba(255, 255, 255, 0.50);
}
.reviewers h1{
padding: 20px 0 10px 0;
color: #252432;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.avatar{
    display: flex;
    gap: 20PX;
    padding-top: 20px;
}
.avatar_img img{
     border-radius: 24px;
}
.avatar_des p{
 color: rgba(0, 0, 0, 0.50);
font-family: Inter;
font-size: 14px;
font-style: normal;
line-height: normal;
}